<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>FCC Voting App | Jennifer Bland</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="../../style.css" rel="stylesheet">-->

    <style>
        body {
            background-image: url('/public/img/bg-pattern.png') !important;
            background-repeat: repeat;
            font-size: 14px;
            color: #333;
        }
        .content {
            margin-top: 40px;
        }
    </style>
</head>