<!doctype html>
<html>

    <% include ./partials/head %>

    <body>

        <% include ./partials/navAuthenticated %>

        <div class="container content">



        </div>

        <% include ./partials/scripts %>

        <style>
            .content {
                margin-top: 50px;
            }

        </style>

    </body>
</html>